<div class="login-container row no-gutter">
    <div class="col-sm-6 left-section">
        <div class="side-block">
        </div>
        <div class="logo-section text-center col-xs-hidden">
            <h4 class="logo-title">BAS</h4>
            <img src="assets/images/login-logo.svg" class="img-responsive" alt="BAS" />
        </div>
    </div>
    <div class="col-sm-6 float-right login-wrapper">
        <div class="login-section">
            <div>
                <form class="login-form" [formGroup]="changePasswordForm" (submit)="changePasswordSubmit()"
                    autocomplete="off">
                    <div class="form-group mb-25">
                        <label class="form-title" for="signin">Change Password</label>
                    </div>

                    <div class="form-group">
                        <label for="password" class="required">Password</label>
                        <input class="form-control" formControlName="password"
                            [type]="showNewPassword ? 'text' : 'password'" 
                            placeholder="Password" autocomplete="off" value="" maxlength="12" required />
                        <!-- <img matSuffix *ngIf="showNewPassword" src="assets/images/show-pwd@3x.png"
                                    (click)="toggleInputType()">
                                <img matSuffix *ngIf="!showNewPassword" src="assets/images/hide-pwd@3x.png"
                                    (click)="toggleInputType()"> -->
                        <div class="error-section">
                            <ng-container
                                *ngIf="changePasswordForm.controls.password.errors && (changePasswordForm.controls.password.touched && changePasswordForm.controls.password.dirty)">
                                <p class="err-msg" [hidden]="!changePasswordForm.get('password').hasError('required')">
                                    Password is required
                                </p>
                                <p class="err-msg" [hidden]="!changePasswordForm.get('password').hasError('pattern')">
                                    Must be atleast 8 characters - Atleast 1 letter, 1 digit
                                </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="required">Confirm Password</label>
                        <input class="form-control" formControlName="confirmPassword" maxlength="12"
                            [type]="showConfirmPassword ? 'text' : 'password'" 
                            placeholder="Confirm Password" autocomplete="off" value="" required />
                        <!-- <img matSuffix *ngIf="showConfirmPassword" src="assets/images/show-pwd@3x.png"
                                        (click)="toggleInputType()">
                                    <img matSuffix *ngIf="!showConfirmPassword" src="assets/images/hide-pwd@3x.png"
                                        (click)="toggleInputType()"> -->
                        <div class="error-section">

                            <ng-container
                                *ngIf="changePasswordForm.controls.confirmPassword.errors && (changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.dirty)">
                                <p class="err-msg"
                                    [hidden]="!changePasswordForm.get('confirmPassword').hasError('required')">
                                    Password Confirmation is required
                                </p>
                                <p class="err-msg"
                                    [hidden]="!changePasswordForm.get('confirmPassword').hasError('mustMatch')">
                                    Passwords must match.
                                </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-actions text-center">
                        <button type="submit" class="login-submit" name="login" [disabled]="changePasswordForm.invalid">
                            Change Password
                        </button>
                    </div>

                    <div class="help-section">
                        <p>
                            <a href="javascript:void(0)" class="sign-up" routerLink="../login">
                                Back to Sign In ?
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>