<div class="redd"></div>

<div class="display-user">
    <div class="table-responsive">
        <table class="table table-scroll">
            <thead>
                <tr>
                    <!-- <th *ngIf="allAssociateList.length > 0 &&  permissions.delete" width="" class="text-center">
                            <mat-checkbox class="example-margin text-center" type="checkbox"
                                (change)="onCheckboxChange(-1, $event)" name="selectAll" [(ngModel)]="selectAll" disableRipple>
                            </mat-checkbox>
                        </th> -->
                    <th class="text-center" width="5%">Sl. No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile Number</th>
                    <!-- <th>Flag</th> -->
                    <th>Amazon/Flex ID</th>
                    <th>Vendor</th>
                    <th>Site</th>
                </tr>
            </thead>
            <ng-container>
                <tbody class="user-list" *ngIf="allAssociateList.length > 0; else noUser">
                    <tr *ngFor="
              let user of allAssociateList
                | paginate
                  : {
                      itemsPerPage: pageData.pageSize,
                      totalItems: pageData.totalItems,
                      currentPage: pageData.pageNumber
                    };
              let userIndex = index
            " [ngClass]="user.deleted ? 'is-archive' : ''">
                        <!-- <td *ngIf="permissions.delete" width="10%" class="text-center">
                                <mat-checkbox class="example-margin" type="checkbox"
                                    (change)="onCheckboxChange(userIndex)" name="checked{{userIndex}}"
                                    [(ngModel)]="user.isDelete">
                                </mat-checkbox>
                            </td> -->
                        <td class="text-center" width="5%">
                            {{ pageData.pageSize * (pageData.pageNumber > 0 ? pageData.pageNumber - 1 : 0) + userIndex + 1 }}
                        </td>
                        <td class="text-capitalize">{{ user.first_name }}</td>
                        <td class="text-capitalize">{{ user.last_name }}</td>
                        <td>{{ user.phone ? "+91 " + user.phone : "-" }}</td>
                        <!-- <td>
              <img
                *ngIf="user.flag"
                class="icon-edit cursor-pointer"
                src="assets/images/{{ user.flag }}.svg"
                alt="edit"
              />
            </td> -->
                        <td>{{ user.external_id ? user.external_id : "-" }}</td>
                        <td>{{ user.org_name ? user.org_name : "-" }}</td>
                        <td>{{ user.site ? user.site : "-" }}</td>
                    </tr>
                </tbody>
            </ng-container>
            <ng-template #noUser>
                <tbody>
                    <tr>
                        <td colspan="7" class="text-center">No Associates Available</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
    <div *ngIf="allAssociateList.length > 0" class="pagination-section my-pagination">
        <pagination-controls (pageChange)="setCurrentPageNumber($event)" [nextLabel]="pageControl.nextLabel" [previousLabel]="pageControl.previousLabel" [responsive]="pageControl.responsive" [autoHide]="pageControl.autoHide"></pagination-controls>
    </div>
</div>