red-flag-history.scss                                                                                                                                                                                      .redd{
    padding-top: 50px;
}

.form-action {
    padding-top: 20px;
    padding-right: 20px;
    // .download-action {
    //     // @mixin create-buttons($bgClr,$clr,$ptb,$plr,$width,$height,$ft-size,$ft-weight,$rad)
    //     @include create-buttons($primary-clr-alpha, $white, 0px, 0px, 112px, 38px, 18px, 300, 20px);
    //     @include no-transition($primary-clr-alpha, $white);
    //     margin-left: 5px;
    // }
}