@import 'src/assets/styles/global.scss';

.change-password-container {
    width: calc(100% - 40px);
    margin: 0px 20px;
    padding: 20px 0px;

    .change-password {
        border-radius: 5px;
        height: 100%;
        padding: 20px 0px 0px;
        // overflow: auto;
        // max-height: calc(100vh - 120px);
        box-shadow: -5px 5px 12px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

    .change-password-header,
    .form-elements {
        border-bottom: 1px solid #cccccc;
    }

    .form-elements {
        padding-top: 30px;
        text-align: center;
        max-height: 47vh;
        overflow: auto;
    }

    .change-password-header {
        height: 60px;
        width: 100%;
        padding-top: 5px;
        padding-left: 20px;
        // text-align: left;

        .form-title {
            display: inline-block;
            margin-right: 25px;
            font-size: 20px;
            font-weight: bold;
            color: #808080;
        }

        .form-info {
            color: #909090;
            font-size: 18px;
            font-weight: 300;
            font-family: 'Amazon Ember Display Light';
        }
    }

    .change-password-form {
        border-radius: 10px;

        table tbody tr td:first-child {
            color: #b0bac9;
            padding-right: 25px;
            text-transform: uppercase;
            text-align: right;
            width: 40%;
            font-size: 18px;
            font-weight: 500;
        }

        table tbody tr td:last-child {
            text-align: left;
            color: #707070;
            width: 60%;

            .error-section {
                text-align: left !important;
                min-height: 18px;
            }
        }

        .table td {
            border-top: none !important;
            padding: 5px 0.75rem;
        }

        .form-control {
            // max-width: 600px;
            // min-width: 300px;
            max-width: 400px;
        }

        .set-width {
            min-width: 190px;
            max-width: 250px;
        }
    }

    .form-actions {
        padding: 20px 0px;

        // @mixin create-buttons($bgClr, $clr, $ptb, $plr, $width, $height, $ft-size, $ft-weight, $rad)
        .reset-pwd,
        .submit-pwd {
            @include create-buttons($primary-clr-alpha, $white, 6px, 12px, 188px, 40px, 18px, 300, 20px);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }

        .cancel-pwd {
            // @mixin create-buttons($bgClr, $clr, $ptb, $plr, $width, $height, $ft-size, $ft-weight, $rad)
            @include create-buttons(#b5b5b5, $white, 6px, 12px, 188px, 42px, 18px, 300, 20px);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            margin-left: 20px;
        }
    }
}