<div class="change-password-container">
    <div class="change-password">
        <div class="change-password-header">
            <p class="form-title">Change Password</p>
            <span class="form-info">Change or Reset your account password</span>
        </div>
        <form class="change-password-form table-responsive text-center" [formGroup]="changePasswordForm"
            (submit)="upadatePassword()" autocomplete="off">
            <div class="form-elements">
                <table class="table">
                    <tbody>
                        <!-- show email only if it is not the initial password reset -->
                        <tr *ngIf="!isInitialReset || !changePasswordForm.controls.email.value">
                            <td><label for="email" class="required">Email ID</label></td>
                            <td>
                                <input class="form-control" type="text" formControlName="email"
                                    placeholder="Enter Email ID" autocomplete="off" value="" maxlength="100" required />
                                <div class="error-section">
                                    <ng-container *ngIf="changePasswordForm.controls.email.errors &&(changePasswordForm.controls.email.touched &&
                                                changePasswordForm.controls.email.dirty)">
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('email').hasError('required')">
                                            Email ID is required</p>
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('email').hasError('pattern')">
                                            Invalid Email ID</p>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="first name" class="required">Current Password</label>
                            </td>
                            <td>
                                <input class="form-control" [type]="showOldPassword ? 'text' : 'password'"
                                    formControlName="oldpassword" placeholder="Current Password"
                                    maxlength="20" autocomplete="off" value="" required />
                                <!-- <img matSuffix *ngIf="showOldPassword" src="assets/images/show-pwd@3x.png"
                                    (click)="toggleInputType('old')">
                                <img matSuffix *ngIf="!showOldPassword" src="assets/images/hide-pwd@3x.png"
                                    (click)="toggleInputType('old')"> -->
                                <div class="error-section">
                                    <ng-container
                                        *ngIf="changePasswordForm.get('oldpassword').errors && (changePasswordForm.get('oldpassword').touched || changePasswordForm.get('oldpassword').dirty)">
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('oldpassword').hasError('required')">
                                            Current Password is required
                                        </p>
                                        <!-- <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('oldpassword').hasError('minlength')">
                                            Must include 8 characters
                                        </p> -->
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="first name" class="required">New Password</label>
                            </td>
                            <td>
                                <input class="form-control" [type]="showNewPassword ? 'text' : 'password'"
                                    formControlName="newpassword" placeholder="New Password" maxlength="20" 
                                    autocomplete="off" value="" required />
                                <!-- <img matSuffix *ngIf="showNewPassword" src="assets/images/show-pwd@3x.png"
                                    (click)="toggleInputType('new')">
                                <img matSuffix *ngIf="!showNewPassword" src="assets/images/hide-pwd@3x.png"
                                    (click)="toggleInputType('new')"> -->
                                <div class="error-section">
                                    <ng-container
                                        *ngIf="changePasswordForm.get('newpassword').errors && (changePasswordForm.get('newpassword').touched || changePasswordForm.get('newpassword').dirty)">
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('newpassword').hasError('required')">
                                            New Password is required
                                        </p>
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('newpassword').hasError('pattern')">
                                            Must include 8 characters - Atleast 1 Uppercase, 1 digit
                                        </p>
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('newpassword').hasError('mustNotMatch')">
                                            New Password must be different from Current password.
                                        </p>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="verify password" class="required">Re-Enter Password</label>
                            </td>
                            <td>
                                <input class="form-control" [type]="showConfirmPassword ? 'text' : 'password'"
                                    formControlName="confirmPassword" placeholder="Re-Enter Password" maxlength="20" minlength="8"
                                    autocomplete="off" value="" required />
                                <!-- <img matSuffix *ngIf="showConfirmPassword" src="assets/images/show-pwd@3x.png"
                                    (click)="toggleInputType('confirm')">
                                <img matSuffix *ngIf="!showConfirmPassword" src="assets/images/hide-pwd@3x.png"
                                    (click)="toggleInputType('confirm')"> -->
                                <div class="error-section">
                                    <ng-container
                                        *ngIf="changePasswordForm.get('confirmPassword').errors && (changePasswordForm.get('confirmPassword').touched || changePasswordForm.get('confirmPassword').dirty)">
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('confirmPassword').hasError('required')">
                                            Password Confirmation is required
                                        </p>
                                        <p class="err-msg"
                                            [hidden]="!changePasswordForm.get('confirmPassword').hasError('mustMatch')">
                                            Passwords must match with New Password.
                                        </p>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="submit-pwd" name="submitPassword"
                    [disabled]="changePasswordForm.invalid || changePasswordForm.pristine">Change Password</button>
                <button *ngIf="!isInitialReset" type="button" class="cancel-pwd" name="cancelPassword"
                    (click)="cancelPassword()">Cancel</button>
            </div>
        </form>
    </div>

</div>