<div class="login-container row no-gutter">
    <div class="col-sm-6 left-section">
        <div class="side-block">
        </div>
        <div class="logo-section text-center col-xs-hidden">
            <h4 class="logo-title">BAS</h4>
            <img src="assets/images/login-logo.svg" class="img-responsive" alt="BAS" />
        </div>
    </div>
    <div class="col-sm-6 float-right login-wrapper">
        <div class="login-section">
            <div>
                <form class="login-form" [formGroup]="forgotPasswordForm" (submit)="forgotPasswordSubmit()" autocomplete="off">
                    <div class="form-group mb-25">
                        <label class="form-title" for="signin">Forgot Password</label>
                        <p class="login-info">
                            Get Verification code to your Email to reset password.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="email" class="required">Email Address</label>
                        <input class="form-control" type="text" formControlName="email"
                            placeholder="Enter Email Address" autocomplete="off" value="" maxlength="60" required />
                            <div class="error-section">
                                <ng-container
                                    *ngIf="forgotPasswordForm.controls.email.errors &&(forgotPasswordForm.controls.email.touched || forgotPasswordForm.controls.email.dirty)">
                                    <p class="err-msg" [hidden]="!forgotPasswordForm.get('email').hasError('required')">
                                        Email Address is required</p>
                                    <p class="err-msg" [hidden]="!forgotPasswordForm.get('email').hasError('pattern')">
                                        Invalid Email Address</p>
                                </ng-container>
                            </div>
                    </div>

                    <div class="form-actions text-center">
                        <button type="submit" class="login-submit" name="login" [disabled]="forgotPasswordForm.invalid">
                            Continue
                        </button>
                    </div>

                    <div class="help-section">
                        <p>
                            <a class="sign-up" routerLink="../login">Sign In ?</a>
                            <!-- <a href="javascript:void(0)" class="sign-up" routerLink="../login">
                                SIGN IN
                            </a> -->
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>